################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/
/bin
/source/RPG/Debug
/source/RPG/Release
/source/RPG/x64
/source/RPG.Renderer/Debug
/source/RPG.Renderer/Release
/packages
/source/RPG.Renderer/x64/Debug
/tests/RPG.Renderer.Tests/Debug
/tests/RPG.Renderer.Tests/x64/Debug
/x64/Debug
