################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/
/bin
/source/RPG/Debug
/source/RPG/Release
/source/RPG/x64
